@font-face {
    font-family: 'Hind Kochi Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Hind Kochi Regular'), url('HindKochi-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hind Kochi Light';
    font-style: normal;
    font-weight: normal;
    src: local('Hind Kochi Light'), url('HindKochi-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hind Kochi Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Hind Kochi Medium'), url('HindKochi-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hind Kochi SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Hind Kochi SemiBold'), url('HindKochi-SemiBold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hind Kochi Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Hind Kochi Bold'), url('HindKochi-Bold.woff') format('woff');
    }